@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-accent: #10b981;
  --color-background: #f8fafc;
  --color-text-main: #0f172a;
}

body {
  background-color: var(--color-background);
  background-image:
    radial-gradient(at 0% 0%, rgba(99, 102, 241, 0.08) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(16, 185, 129, 0.08) 0px, transparent 50%);
  background-attachment: fixed;
  color: var(--color-text-main);
  font-family: system-ui, -apple-system, sans-serif;
}